rapidocr==3.9.2
onnxruntime==1.27.0
antlr4-python3-runtime==4.9.3
certifi==2026.7.22
charset-normalizer==3.4.9
colorama==0.4.6
colorlog==6.11.0
flatbuffers==25.12.19
idna==3.18
numpy==2.4.6
omegaconf==2.3.1
opencv-python==5.0.0.93
packaging==26.2
pillow==12.3.0
protobuf==7.35.1
pyclipper==1.4.0
pyyaml==6.0.3
requests==2.34.2
shapely==2.1.2
six==1.17.0
tqdm==4.69.0
urllib3==2.7.0
